.home-banner-slider {
  .td-single-slide-item {
      img {
        pointer-events: none;
        user-select: none;
      }
  }
}
.home-services {
  .row {
    @include desktop {
      justify-content: space-between;
      a {
        padding: 30px 20px;
      }
      .col-xl-2 {
        width: 20%;
      }
    }
  }
}
.contact-info {
  .contact-details {
    .td-contact-details-box-icon {
      box-shadow: -10px 10px #3f3ff9;
    }
  }
}
.widget_themedraft-recent-posts {
  .td-recent-post-widget {
    li {
      img {
        object-fit: cover;
      }
    }
  }
}