.header-style-two {
  .main-menu-area {
    .site-branding {
      img {
        object-fit: scale-down;
        @include tablet {
          width: 310px;
        }
        @include desktop {
          width: 310px;
        }
      }
    }
  }
  .header-top-area {
    .header-top-info {
      li {
        i {
          color: #fff;
        }
      }
    }
  }
}
